body {
  background: url('../assets/background.jpg'), repeat-x;
  font-family: 'Inknut Antiqua', serif;
  color: white;
}

.header {
  margin: 10px;
}

.card {
  background-color: white;
  background-image: url('../assets/card_the-fool.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 4px;
  color: black;
  height: 384px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 220px;
}
